@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font-size: 16px;
  --primary-color: #171430;
  --secondary-color: #26233c;
  --tertiary-color: #e2443c;
  --lightGrey-color: #90909d;
  --white-color: #fefefe;
  --black-color: #2d2d2d;
  --skeletonSecondary-color: #e0e0e0;
  --backgroundPrimary-color: #f6f6f6;
}

* {
  font-size: var(--base-font-size);
}

body {
  background-color: var(--primary-color);
}
